# Use PHP71
AddHandler application/x-httpd-php71 .php

# One day for image files
<filesMatch ".(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=86400, public"
</filesMatch>
# One day for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=86400, public"
</filesMatch>